body, html {
	background-color: black;
	color: white;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	touch-action: none;
	user-select: none;
}

.button {
	color: white;
	font-family: Arial;
	font-size: min(24px, 4vmin);
	font-weight: normal;
	opacity: 70%;
}

.button:hover {
	cursor: pointer;
	opacity: 100%;
}

.description-text {
	font-weight: normal;
	font-family: Candara, Optima, serif;
	text-align: left;
}

.embedded-scaled {
	border: none;
	height: 156.25%;
	overflow: hidden;
	transform: scale(0.64);
	transform-origin: top left;
	width: 156.25%;
/*	zoom: 0.5;*/
}

.frame {
	width: min(100%, 400px);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.video {
	height: min(100%, 225px);
	width: min(100%, 400px);
}


#bgpic {
	bottom: 0;
	height: 100vh;
	left: 0;
	opacity: 100%;
	position: fixed;
	width: 50vh;
}

#bottomShadow {
	background-color: black;
	box-shadow: 0 0 50px 30px black;
	border-radius: 30%;
	bottom: -5vh;
	height: 5vh;
	position: fixed;
	left: 0vw;
	width: 100vw;
}

#container {
	align-content: center;
	height: 90vh;
	left: 10vw;
	overflow-y: scroll;
	position: absolute;
	text-align: center;
	top: 10vh;
	touch-action: pan-y;
	width: 80vw;
}

#homeButton {
	border-radius: 50%;
	height: 50px;
	left: calc(50vw - 25px);
	position: absolute;
	top: -50px;
	width: 50px;
}

#icon {
	animation: spin 1.8s linear 0s infinite normal both;
	position: absolute;
	width: 100%;
}

#icon-static {
	position: absolute;
	width: 100%;
}

::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar-thumb {background: transparent;border-radius: 2px;}
::-webkit-scrollbar-thumb:hover {background: rgba(255, 255, 255, 0.3);}

@keyframes dim {
	0% {opacity: 100%;}
	100% {opacity: 50%;}
}

@keyframes homeButtonDrop {
	0% {top: -50px;}
	100% {top: calc(10vh - 25px);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}