body, html {
	background-color: black;
	color: white;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	touch-action: none;
	user-select: none;
}

.button {
	color: white;
	font-family: Arial;
	font-size: min(24px, 4vmin);
	font-weight: normal;
	opacity: 70%;
}

.button:hover {
	cursor: pointer;
	opacity: 100%;
}

.container {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.menuText {
	color: white;
	font-family: Gill Sans;
	font-size: min(32px, 5vmin);
	font-weight: bold;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bgpic {
	bottom: 0;
	height: 100vh;
	left: 0;
	opacity: 50%;
	position: fixed;
	width: 50vh;
}

#header {
	color: white;
	font-family: Gill Sans;
	font-size: 10vw;
	font-weight: bold;
	left: 10vw;
	opacity: 0;
	text-align: center;
	width: 80vw;
}

#homeButton {
	border-radius: 50%;
	height: 45px;
	left: calc(50vw - 22.5px);
	position: absolute;
	top: calc(10vh - 22.5px);
	width: 45px;
}

#icon {
	animation: spin 1.8s linear 0s infinite normal both;
	width: 100%;
}

#menu {
/*	display: block;*/
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100vw;
	user-select: none;
}

#menuBg {
	background-color: #202020;
	/*backdrop-filter: blur(3px);*/
	border-radius: 50%;
	height: 200vmax;
	opacity: 95%;
	overflow: hidden;
	position: absolute;
	right: -200vmax;
	width: 200vmax;
}

#menuBox {
	max-height: 95vh;
	overflow-y: scroll;
	padding-right: 2%;
	position: absolute;
	right: -70vw;
	text-align: right;
	touch-action: pan-y;
	width: 70vw;
}

#menuBtmShadow {
	background-color: #202020;
	box-shadow: 0 0 50px 50px #202020;
	border-radius: 50%;
	bottom: -200vh;
	height: 5vh;
	position: fixed;
	right: -50vw;
	width: 100vw;
}

#menuButton {
	font-size: 11vmin;
	font-weight: bold;
	position: absolute;
	right: 3vmin;
	top: 3vmin;
}

::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar-thumb {background: transparent;border-radius: 2px;}
::-webkit-scrollbar-thumb:hover {background: rgba(255, 255, 255, 0.3);}

@keyframes homeButtonDrop {
	0% {
		top: calc(10vh - 22.5px);
	}
	100% {
		top: min(75vh, 100vh - 70px);
	}
}

@keyframes lightUp {
	0% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes menuOnBg {
	0% {
		/*background-color: #101010;*/
		right: -200vmax;
	}
	100% {
		/*background-color: #202020;*/
		right: calc(25vw - 165vmax);
	}
}

@keyframes menuOffBg {
	0% {
		/*background-color: #202020;*/
		right: calc(25vw - 165vmax);
	}
	100% {
		/*background-color: #000000;*/
		right: -200vmax;
	}
}

@keyframes menuOnShadow {
	0% {
		bottom: -200vh;
	}
	100% {
		bottom: -5vh;
	}
}

@keyframes menuOffShadow {
	0% {
		bottom: -5vh;
	}
	100% {
		bottom: -200vh;
	}
}

@keyframes menuOnText {
	0% {
		right: -70vw;
	}
	100% {
		right: 8%;
	}
}

@keyframes menuOffText {
	0% {
		right: 8%;
	}
	100% {
		right: -70vw;
	}
}

@keyframes openingTitle {
	0% {
		opacity: 0;
	}
	90% {
		color: white;
		opacity: 0;
	}

/*	70% {color: red;}
	75% {color: orange;}
	80% {color: yellow;}
	85% {color: green;}
	90% {color: blue;}
	95% {color: purple;}*/

	100% {
		color: white;
		opacity: 100%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}