body, html {
	background-color: black;
	color: white;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	touch-action: none;
	user-select: none;
}

.button {
	color: white;
	font-family: Arial;
	font-size: min(24px, 4vmin);
	font-weight: normal;
	opacity: 70%;
}

.button:hover {
	cursor: pointer;
	opacity: 100%;
}

.inTextLink {
	color: white;
}

.menuText {
	color: white;
	font-family: Gill Sans;
	font-size: min(32px, 5vmin);
	font-weight: bold;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bgpic {
	bottom: 0;
	height: 100vh;
	left: 0;
	opacity: 50%;
	position: fixed;
	width: 50vh;
}

#bio {
	/*background-color: red;*/
	height: 100vh;
	overflow: hidden;
	position: absolute;
	bottom: -100vh;
	width: 100vw;
}

#bioBg {
	background-color: #202020;
	border-radius: 50%;
	height: 200vmax;
	left: calc(50vw - 100vmax);
	opacity: 95%;
	overflow: hidden;
	position: absolute;
	top: 10vh;
	width: 200vmax;
}

#bioBox {
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	font-family: Verdana;
	font-size: min(24px, 4vmin);
	font-weight: normal;
	left: 15vw;
	line-height: min(48px, 8vmin);
	max-height: 70vh;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
	touch-action: pan-y;
	top: 30vh;
	width: 70vw;
}

#bioShadow {
	background-color: black;
	box-shadow: 0 0 50px 30px black;
	border-radius: 30%;
	bottom: -5vh;
	height: 5vh;
	position: absolute;
	left: 0vw;
	width: 100vw;
}

#header {
	color: white;
	font-family: Gill Sans;
	font-size: 10vw;
	font-weight: bold;
	left: 10vw;
	opacity: 0;
	text-align: center;
	width: 80vw;
}

#homeButton {
	border-radius: 50%;
	height: 50px;
	left: calc(50vw - 25px);
	position: absolute;
	top: calc(10vh - 25px);
	width: 50px;
}

#homeButton:hover {
	cursor: pointer;
}

#icon {
	animation: spin 1.8s linear 0s infinite normal both;
	position: absolute;
	width: 100%;
}

#icon-static {
	position: absolute;
	width: 100%;
}

#menuBg {
	background-color: #202020;
	border-radius: 50%;
	height: 200vmax;
	opacity: 95%;
	overflow: hidden;
	position: absolute;
	right: -200vmax;
	width: 200vmax;
}

#menuBox {
	max-height: 95vh;
	overflow-y: scroll;
	padding-right: 2%;
	position: absolute;
	right: -70vw;
	text-align: right;
	touch-action: pan-y;
	width: 70vw;
}

#menuBtmShadow {
	background-color: #202020;
	box-shadow: 0 0 50px 50px #202020;
	border-radius: 50%;
	bottom: -200vh;
	height: 5vh;
	position: fixed;
	right: -50vw;
	width: 100vw;
}

#menuButton {
	font-size: 11vmin;
	font-weight: bold;
	position: absolute;
	right: 3vmin;
	top: 3vmin;
}

::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar-thumb {background: transparent;border-radius: 2px;}
::-webkit-scrollbar-thumb:hover {background: rgba(255, 255, 255, 0.3);}

@keyframes bioOff {
	0% {bottom: 0;}
	100% {bottom: -100vh;}
}

@keyframes bioOn {
	0% {bottom: -100vh;}
	100% {bottom: 0;}
}

@keyframes bioOffHB {
	0% {top: calc(18vh - 25px);}
	100% {top: min(75vh, 100vh - 70px);}
}

@keyframes bioOnHB {
	0% {top: min(75vh, 100vh - 70px);}
	100% {top: calc(18vh - 25px);}
}

@keyframes homeButtonDrop {
	0% {top: calc(10vh - 25px);}
	100% {top: min(75vh, 100vh - 70px);}
}

@keyframes lightUp {
	0% {opacity: 50%;}
	100% {opacity: 100%;}
}

@keyframes menuOnBg {
	0% {right: -200vmax;}
	100% {right: calc(25vw - 165vmax);}
}

@keyframes menuOffBg {
	0% {right: calc(25vw - 165vmax);}
	100% {right: -200vmax;}
}

@keyframes menuOnShadow {
	0% {bottom: -200vh;}
	100% {bottom: -5vh;}
}

@keyframes menuOffShadow {
	0% {bottom: -5vh;}
	100% {bottom: -200vh;}
}

@keyframes menuOnText {
	0% {right: -70vw;}
	100% {right: 8%;}
}

@keyframes menuOffText {
	0% {right: 8%;}
	100% {right: -70vw;}
}

@keyframes openingTitle {
	0% {opacity: 0;}
	90% {opacity: 0;}
	100% {opacity: 100%;}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}