body, html {
	background-color: black;
	color: white;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	touch-action: none;
	user-select: none;
}

.container {
	font-size: 10vw;
	font-weight: bold;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
	color: white;
	font-family: Arial;
	font-size: 5.5vmin;
	font-weight: normal;
	opacity: 70%;
}

.button:hover {
	cursor: pointer;
	opacity: 100%;
}

.menuText {
	color: white;
	font-family: Gill Sans;
	font-size: 6vmin;
	font-weight: bold;
	height: 6vmin;
}

#bgpic {
	bottom: 0vmin;
	height: 100vh;
	left: min(0, calc(100vw - 100vh));
	position: absolute;
	width: 100vh;
}

#header {
	left: 2vmin;
}

#menu {
	display: none;
	overflow-y: scroll;
	right: 0;
	user-select: none;
}

#menuBg {
	background-color: #202020;
	border-radius: 50%;
	height: 150vw;
	opacity: 95%;
	position: absolute;
	right: -60vw;
	width: 150vw;
}

#menuBox {
	height: min(130vw, 90vh);
	padding-right: 2%;
	overflow-y: scroll;
	position: absolute;
	right: 8%;
	text-align: right;
	touch-action: pan-y;
	width: 70vw;
}

#menuButton {
	font-size: 11vmin;
	font-weight: bold;
	position: absolute;
	right: 3vmin;
	top: 3vmin;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}