body, html {
	background-color: black;
	color: white;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	touch-action: none;
	user-select: none;
}

.container {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
	color: white;
	font-family: Arial;
	font-size: min(24px, 6vmin);
	font-weight: normal;
	opacity: 70%;
}

.button:hover {
	cursor: pointer;
	opacity: 100%;
}

.menuText {
	color: white;
	font-family: Gill Sans;
	font-size: min(40px, 7vmin);
	font-weight: bold;
}

#bgpic {
	bottom: 0;
	height: 100vh;
	left: 0;
	position: fixed;
	width: 50vh;
}

#header {
	font-family: Gill Sans;
	font-size: 10vw;
	font-weight: bold;
	left: 10vw;
	text-align: center;
	width: 80vw;
}

#menu {
	display: none;
	overflow-y: scroll;
	right: 0;
	user-select: none;
}

#menuBg {
	background-color: #202020;
	border-radius: 50%;
	height: 150vw;
	opacity: 95%;
	position: absolute;
	right: -60vw;
	width: 150vw;
}

#menuBox {
	/*height: fit-content;*/
	max-height: min(120vw, 80vh);
	overflow-y: scroll;
	/*padding-bottom: 30vh;*/
	padding-right: 2%;
	/*padding-top: 30vh;*/
	position: absolute;
	right: 8%;
	text-align: right;
	/*top: 20vh;*/
	touch-action: pan-y;
	width: 70vw;
}

#menuBtmShadow {
	background-color: #202020;
	box-shadow: 0 0 50px 50px #202020;
	border-radius: 50%;
	bottom: -5vh;
	height: 5vh;
	position: fixed;
	right: -50vw;
	width: 100vw;
}

#menuButton {
	font-size: 11vmin;
	font-weight: bold;
	position: absolute;
	right: 3vmin;
	top: 3vmin;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}