/*a:link, a:visited {
	color: white;
	font-weight: bold;
	text-shadow: 0 0 2px black;
}

a:hover {
	color: black;
	text-shadow: none;
}
*/
body, html {
	background-color: black;
	color: white;
	font: Ariel, sans-serif;
	font-weight: bold;
	margin: 0;
	user-select: none;
}


.container {
	font-size: 50px;
	font-weight: bold;
	height: 100%;
	width: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#menu {
	display: none;
	right: 5%;
}

#navi {
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	right: 3%;
	opacity: 70%;
}

#navi:hover {
	cursor: pointer;
	opacity: 100%;
}

#home-title {
	/*position: absolute;*/
	/*right: 1%;*/
	/*text-align: right;*/
}


/*
.link {
	line-height: 100px;
	position: relative;
	text-align: center;
	top: -110px;
	width: 100%;
}

#button_container {
	height: 50px;
}

#drawings {
	display: none;
}

#music {
	display: none;
}

#physical {
	display: none;
}

#web_pages {
	display: block;
}*/